name: images

on:
  workflow_call:
  schedule:
  - cron: "0 0 * * *"
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
         container:
          - { path: "base.Dockerfile", tag: "nichtsfrei/base:latest", dir: "." }
          - { path: "openvas-dev/Containerfile", tag: "nichtsfrei/openvas-dev:latest", dir: "openvas-dev/" }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: docker build -f ${{ matrix.container.path }} -t ${{ matrix.container.tag }} ${{ matrix.container.dir }}
      - run: docker push ${{ matrix.container.tag }}
